* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

html {
  width: 100dvw;
  overflow-x: hidden;
}

body {
  position: relative;
  max-width: 100%;
  margin: 0;
  background-color: rgb(27, 27, 27);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-nav {
  position: absolute;
  height: 100px;
  width: 100%;
  background-color: rgb(160, 11, 11);
  margin: 0;
  width: 100vw;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 5;
  */
}

/*
#top-nav.open, #logo.open {
  transform: translateY(0%);
}

#nav-hover-box {
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: 1;
}
*/

#logo {
  height: 80px;
  position: absolute;
  left: 20px;
  top: 10px;
  /*transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  */
  z-index: 200;
}

.nav-link {
  margin: 0 30px;
  position: relative;
  text-decoration: none;
  color: white;
  line-height: 40px;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

/* ----------------------------*/

.home {
  height: 500px;
  width: 75%;
  margin: 50px 0 50px 12.5%;
}

h1 {
  font-size: 100px;
  text-shadow: 5px 5px 5px black;
}

p {
  font-size: 25px;
}

.cobra-text {
  margin-top: 10px;
  height: 55px;
  width: 500px;
  text-align: middle;
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
  font-size: 30px;
}

#cobra-button {
  height: 500px;
  width: 500px;
  border-radius: 5px;
  border: 5px solid rgb(141, 21, 21);
  background-image: url('img/Best.jpg');
  background-size: 500px;
  background-position: 0px;
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#cobra-button:hover {
  transform: translateY(-10px);
}

.do-button-jump {
  animation: button-jump 0.5s ease;
}

@keyframes button-jump {
  0% { transform: translateY(-10px); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(-10px); }
}

/* ---------------------- */

.instructions {
  max-width: 1000px;
  width: 80vw;
  padding: 0 20px 5%;
  outline: 1px solid red;
  margin: 150px 0 15px 0;
  display: flex;
  flex-direction: column;
}

.img-bin {
  max-width: 1000px;
  align-self: center;
}

h2 {
  font-size: 40px;
  align-self: center;
}

h3 {
  font-size: 28px;
}

.sqr-img {
  width: 49.8%;
}

.ins-img {
  width: 100%;
}

.label {
  margin: 5px 0 50px;
  text-align: center;
}